# Byte-compiled / caching
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Service account key
penguin-sa.json



# dotenv file
.env

# Docker artifacts
.dockerignore

# Editor files
.vscode/
*.swp

